<!DOCTYPE html>
<html lang={language_for_locale(assigns[:locale])} class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Adopt LiveView">
      <%= assigns[:page_title] || "Adopt LiveView" %>
    </.live_title>
    <meta
      name="keywords"
      content="Phoenix LiveView tutorial, Beginner's guide to Phoenix LiveView, Free LiveView course, LiveView basics, Getting started with LiveView, LiveView for beginners, Phoenix framework tutorial, Elixir LiveView tutorial, Learn LiveView step by step, Interactive web development with LiveView, LiveView fundamentals, Free LiveView resources, LiveView hands-on tutorials, Introduction to Phoenix LiveView, LiveView crash course"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer data-domain="adopt-liveview.lubien.dev" src="/js/plausible_script.js">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <.metadata_generator
      title={assigns[:page_title]}
      description={assigns[:page_description]}
      page_breadcumb_list={assigns[:page_breadcumb_list]}
      canonical={CursoWeb.Endpoint.url()}
      url={assigns[:metadata_url]}
    />
  </head>
  <body class="min-h-full bg-white dark:bg-slate-900 [scrollbar-gutter:stable] h-full antialiased font-sans font-display">
    <%= @inner_content %>
  </body>
</html>
