@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.makeup .hll {
    /* background-color: #49483e; */
}
.makeup {
    color: #f8f8f2;
    /* background-color: #272822; */
}
.makeup .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.makeup .bp {
    color: #f8f8f2;
} /* :name_builtin_pseudo */
.makeup .c {
    color: #75715e;
} /* :comment */
.makeup .c1 {
    color: #75715e;
} /* :comment_single */
.makeup .ch {
    color: #75715e;
} /* :comment_hashbang */
.makeup .cm {
    color: #75715e;
} /* :comment_multiline */
.makeup .cp {
    color: #75715e;
} /* :comment_preproc */
.makeup .cpf {
    color: #75715e;
} /* :comment_preproc_file */
.makeup .cs {
    color: #75715e;
} /* :comment_special */
.makeup .dl {
    color: #e6db74;
} /* :string_delimiter */
.makeup .err {
    color: #960050;
    background-color: #1e0010;
} /* :error */
.makeup .fm {
    color: #a6e22e;
} /* :name_function_magic */
.makeup .gd {
    color: #f92672;
} /* :generic_deleted */
.makeup .ge {
    font-style: italic;
} /* :generic_emph */
.makeup .gi {
    color: #a6e22e;
} /* :generic_inserted */
.makeup .gs {
    font-weight: bold;
} /* :generic_strong */
.makeup .gu {
    color: #75715e;
} /* :generic_subheading */
.makeup .il {
    color: #ae81ff;
} /* :number_integer_long */
.makeup .k {
    color: #66d9ef;
} /* :keyword */
.makeup .kc {
    color: #66d9ef;
} /* :keyword_constant */
.makeup .kd {
    color: #66d9ef;
} /* :keyword_declaration */
.makeup .kn {
    color: #f92672;
} /* :keyword_namespace */
.makeup .kp {
    color: #66d9ef;
} /* :keyword_pseudo */
.makeup .kr {
    color: #66d9ef;
} /* :keyword_reserved */
.makeup .kt {
    color: #66d9ef;
} /* :keyword_type */
.makeup .l {
    color: #ae81ff;
} /* :literal */
.makeup .ld {
    color: #ae81ff;
} /* :literal_date */
.makeup .m {
    color: #ae81ff;
} /* :number */
.makeup .mb {
    color: #ae81ff;
} /* :number_bin */
.makeup .mf {
    color: #ae81ff;
} /* :number_float */
.makeup .mh {
    color: #ae81ff;
} /* :number_hex */
.makeup .mi {
    color: #ae81ff;
} /* :number_integer */
.makeup .mo {
    color: #ae81ff;
} /* :number_oct */
.makeup .n {
    color: #f8f8f2;
} /* :name */
.makeup .na {
    color: #a6e22e;
} /* :name_attribute */
.makeup .nb {
    color: #f8f8f2;
} /* :name_builtin */
.makeup .nc {
    color: #a6e22e;
} /* :name_class */
.makeup .nd {
    color: #a6e22e;
} /* :name_decorator */
.makeup .ne {
    color: #a6e22e;
} /* :name_exception */
.makeup .nf {
    color: #a6e22e;
} /* :name_function */
.makeup .ni {
    color: #f8f8f2;
} /* :name_entity */
.makeup .nl {
    color: #f8f8f2;
} /* :name_label */
.makeup .nn {
    color: #f8f8f2;
} /* :name_namespace */
.makeup .no {
    color: #66d9ef;
} /* :name_constant */
.makeup .nt {
    color: #f92672;
} /* :name_tag */
.makeup .nv {
    color: #f8f8f2;
} /* :name_variable */
.makeup .nx {
    color: #a6e22e;
} /* :name_other */
.makeup .o {
    color: #f92672;
} /* :operator */
.makeup .ow {
    color: #f92672;
} /* :operator_word */
.makeup .p {
    color: #f8f8f2;
} /* :punctuation */
.makeup .py {
    color: #f8f8f2;
} /* :name_property */
.makeup .s {
    color: #e6db74;
} /* :string */
.makeup .s1 {
    color: #e6db74;
} /* :string_single */
.makeup .s2 {
    color: #e6db74;
} /* :string_double */
.makeup .sa {
    color: #e6db74;
} /* :string_affix */
.makeup .sb {
    color: #e6db74;
} /* :string_backtick */
.makeup .sc {
    color: #e6db74;
} /* :string_char */
.makeup .sd {
    color: #e6db74;
} /* :string_doc */
.makeup .se {
    color: #ae81ff;
} /* :string_escape */
.makeup .sh {
    color: #e6db74;
} /* :string_heredoc */
.makeup .si {
    color: #e6db74;
} /* :string_interpol */
.makeup .sr {
    color: #e6db74;
} /* :string_regex */
.makeup .ss {
    color: #e6db74;
} /* :string_symbol */
.makeup .sx {
    color: #e6db74;
} /* :string_other */
.makeup .sx {
    color: #e6db74;
} /* :string_sigil */
.makeup .vc {
    color: #f8f8f2;
} /* :name_variable_class */
.makeup .vg {
    color: #f8f8f2;
} /* :name_variable_global */
.makeup .vi {
    color: #f8f8f2;
} /* :name_variable_instance */
.makeup .vm {
    color: #f8f8f2;
} /* :name_variable_magic */
